html {
    text-align: center;
}

#Welcome {
    position;
    absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, red, blue);
    z-index: 9;

}

#Welcome {
    background-image: linear-gradient(to right, red, blue);

}

#Howtosavemoney {
    background-image: linear-gradient(to right, red, blue);
}

#Howtosavemoney {
    background-image: linear-gradient(to right, red, blue);
}

#Lossmoney {
    background-image: linear-gradient(to right, red, blue);
}




.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;

}

link:hover {
    background-color: antiquewhite;
}
